<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Authentication with JSON Web Tokens</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
</head>
<body>
  <div class="container" style="width: 50% !important">
    <h1> Try again...</h1>
    <form action="/auth" method="POST">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="username" placeholder="username" class="form-control"/>
      <br/>
      <label for="exampleInputEmail1">Password</label>
      <input type="password" name="password" placeholder="********" class="form-control"/>
      <br/>
      <input type="submit" class="btn btn-success" value="Login"  />
    </form>
    <h2>Hint:</h2>
    <ul>
      <li> <b>username</b>: quangnd</li>
      <li> <b>password</b>: powergate</li>
    </ul>
  </div>
</body>
</html>
